package views


templ Index2() {
    @template() {
    <!DOCTYPE html>
    <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-900">Website Under Construction</h1>
        <p class="text-lg text-gray-600 mt-4">Our website is currently under construction. We will be back soon. Thank you for your patience!</p>
    </div>
    }
}